<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
                logFile="/proxy_log.log"
                logLevel="INFO"
                mustMatch="true">
  <serverUrls>
    <serverUrl url="http://127.0.0.1:6080/arcgis/rest/services/"
        matchAll="true" username="test" password="test" tokenServiceUri="http://127.0.0.1:6080/arcgis/tokens/"/>
  </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
